@use "../../helpers" as *;

.subscription {
  &__body {
    display: grid;
    grid-template-columns: 1fr rem(508);
    grid-template-areas:
      "title image"
      "form image";
    background-color: var(--color-gray-10);
    border-radius: rem(6);
    padding-left: rem(68);
    overflow: hidden;

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-areas: 
        'title'
        'form'
        'image';
      padding-left: var(--container-padding-x);
    }
  }

  &__title {
    grid-area: title;

    @include fluid-text(60, 24);

    display: flex;
    align-items: center;
    width: rem(570);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;

    background: linear-gradient(to bottom,
        #2b2d33 0%,
        #6b6f76 60%,
        #d8d9db 90%,
        #f5f5f6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    @include tablet {
      width: rem(370);
      justify-self: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
      padding-top: rem(40);
    }

    @include mobile-s {
      width: 100%;
    }
  }

  &__form {
    grid-area: form;

    display: flex;
    flex-direction: column;

    input {
      @include fluid-text(18, 16);

      background-color: transparent;
      border-color: var(--color-dark);
      border-radius: rem(6) 0 0 rem(6);
      width: rem(414);
      height: rem(58);
      color: var(--color-dark);
      text-indent: rem(10);

      @include mobile {
        width: 100%;
      }
    }
    
    @include tablet {
      align-items: center;
      padding-top: rem(40);
    }

  }

  &__input {
    display: flex;
    flex-direction: row;

    @include mobile {
      width: 100%;
    }
  }

  &__button {
    border-radius: 0 rem(6) rem(6) 0;

    @include hover {
      opacity: 0.6;
    }
  }

  &__image {
    grid-area: image;

    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 508/385;
    object-fit: cover;

    @include tablet {
      height: auto;
    }
  }
}
